<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<section class="home">
    <% if(typeof displayName == 'string' && displayName) { %>
          <h1>Welcome, <br> <%= displayName %></h1>
        </li>
        <% } else { %>
            <h1>Welcome</h1>
          <% } %>
</section>
<%- include Partials/footer.ejs %>
