@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&display=swap");

*{
  font-family: "Comic Neue", sans-serif;
  overflow: hidden;
}


/* Background Colour */
body {
  background-color: #d3d1e8 !important;
}


/* Nav Bar */
.custom-navbar {
  background-color: #363E59;
}

.navbar .nav-item a {
  color: rgb(185, 184, 184) !important;
}

.navbar .nav-item a:hover {
  color: white !important;
}


/* Logo */
img {
  width: 13%;
  height: auto;
}


/* Home Page*/
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 80%;
  height: 100%;
  display:flex;
  flex-direction: column;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,3);
  margin-top: -150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  width: 150px;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background:white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0,0,0,2);
}

.days {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin-bottom: 15px;
}

.day {
  text-align: center;
  padding: 5px;
  color: grey;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap:10px;
  height: calc(100% - 50px);
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.2s;
}

.date:hover, .date.active {
  background: #c0bcec;
  color: white;
}

.date.inactive {
  color: lightgrey;
}

.date.inactive:hover {
  color: white;
}


/* Assignment Page */
.container i {
  margin-right: 8px;
}

.fas fa-plus-circle {
  margin-bottom: 5px;
}

/* Footer */
footer {
  text-align: center;
}

footer .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

footer .custom-navbar {
  background-color: #363E59 ;
}

footer h6 {
  color: rgb(185, 184, 184) !important;
}
